{% extends 'base.html.twig' %}

{% block body %}
    <form id="coffe_machine_form" method="POST" action={{ path('home') }}>
        <fieldset class="form-group">
            <legend class="col-form-label required">Beverage</legend>
            <div id="coffee_machine_beverage">
                {% for beverage in beverages %}
                    <div class="form-check">
                        <input type="radio"
                               id="coffee_machine_beverage_{{ beverage.name|lower }}"
                               required="required"
                               class="form-check-input"
                               name="coffee_machine[beverageName]"
                               value="{{ beverage.name }}">
                        <label class="form-check-label required"
                               for="coffee_machine_beverage_{{ beverage.name|lower }}">
                            {{ beverage.name|upper }} - {{ beverage.price }} Credits
                        </label>
                    </div>
                {% endfor %}
            </div>
        </fieldset>
        <div class="form-group">
            <label class="required" for="coffee_machine_sugarLevel">Sugar level</label>
            <input type="range" class="form-control-range" id="coffee_machine_sugarLevel"
                   name="coffee_machine[sugarLevel]" min="0" max="4">
        </div>
        <div class="form-group">
            <label class="required" for="coffee_machine_milkLevel">Milk level</label>
            <input type="range" class="form-control-range" id="coffee_machine_milkLevel"
                   name="coffee_machine[milkLevel]" min="0" max="4">
        </div>
        <input type="hidden" id="coffee_machine_current_credit" name="coffee_machine_current_credit" value="">
        <div class="form-group">
            <button type="submit" name="order" class="btn btn-success">
                Order
            </button>
        </div>

        <hr>
    </form>

    <div>
        <div class="form-group">
            <label id="label_credit" for="coffee_machine_credit"></label>
            <input type="number" min="0" id="coffee_machine_credit" class="form-control">
        </div>
        <button id="coffee_machine_coins" name="addCoins" class="btn btn-primary">
            Add Coins
        </button>
        <button id="coffee_machine_change" name="getChange" class="btn btn-danger">
            Get Change
        </button>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            if (null === localStorage.getItem("currentCredit")) {
                localStorage.setItem("currentCredit", '0');
            }

            function updateCredit(credit = 0) {
                const oldCredit = localStorage.getItem('currentCredit');
                credit = Number(credit) + Number(oldCredit);
                localStorage.setItem("currentCredit", String(credit));
                var $labelCredit = $("#label_credit");
                $labelCredit.html('Credits : ' + credit);
                return credit;
            }

            updateCredit();

            $('#coffee_machine_coins').on('click', function (e) {
                e.preventDefault();
                var valueCoin = $("#coffee_machine_credit").val();
                updateCredit(valueCoin);
            });

            $('#coffee_machine_change').on('click', function (e) {
                e.preventDefault();
                localStorage.setItem("currentCredit", '0');
                updateCredit();
            });


            $(document).on('submit', '#coffe_machine_form', function (e) {
                e.preventDefault();

                var $form = $(e.target);
                $form.find("#coffee_machine_current_credit").val(updateCredit());

                console.log($("input[type=radio]:checked").val());

                $form.ajaxSubmit({
                    type: 'POST',
                    success: function (data) {
                        localStorage.setItem("currentCredit", String(data['creditLeft']));
                        updateCredit();
                    },
                    error: function (jqXHR, status, error) {
                        window.alert(jqXHR.responseJSON['message']);
                        $submitButton.prop('disabled', false);
                    }
                });
            });
        })
    </script>

{% endblock %}
